h3
{
    color:brown;
    text-align:left;
    margin-left: 15%;
    font: Apple Chancery, cursive;
    font-size: 26px;
}
.container
{
    align-content: center;   
    text-align: center;
}
table 
{
margin-left: 15%;
}

#CV
{
    position: relative;
    width: 1000px;
    height:2400px;
    margin: auto;
    background-image: url("back2.png");
    background-repeat: no-repeat;
    background-size: 1000px 2400px;
}
body
{
    background-color: rgb(206,206,255);
    background-image: url("wood.jpg");
}
hr
{
width: 60%;
}